{% trans_default_domain 'FOSUserBundle' %}

<div class="container container-custom">
    <div class="row row-custom">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            <div class="col s12">
                {{ form_widget(form) }}
            </div>
            <div>
                <button class="btn waves-effect waves-light right" type="submit">
                    Submit
                </button>
            </div>
        {{ form_end(form) }}
    </div>
</div>