{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Meritocrate</h2>
        <div class="col s12 col-board">
            <a href="{{ path('meritocrate_new_discussion') }}"><button class="btn btn-large waves-effect waves-light">
                    Start a group
                    <i class="material-icons left">group_work</i>
                </button>
            </a>
            <a href="{{ path('meritocrate_join_discussion') }}"><button class="btn btn-large waves-effect waves-light">
                    Join a group
                    <i class="material-icons left">forum</i>
                </button>
            </a>
            <a href="{{ path('meritocrate_group_statistics') }}"><button class="btn btn-large waves-effect waves-light">
                    Previous group sessions statistics
                    <i class="material-icons left">trending_up</i>
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}