{% extends 'base.html.twig' %}

{% block body %}
    {% if app.request.get('_route') == "meritocrate_homepage" %}
    <body id="body-homepage">
        <h2>Meritocrate</h2>
        {% block content %}
        <div class="container container-custom">
            <div class="row row-custom">
                <div class="col s12 col-homepage">
                    <a href="{{ path('meritocrate_admin') }}"><button class="btn btn-large waves-effect waves-light" id="sign-in">
                        Sign in
                    </button></a>
                    <a href="{{ path('meritocrate_register') }}"><button class="btn btn-large waves-effect waves-light" id="sign-up">
                        Register
                    </button></a>
                </div>
            </div>
        </div>
        <footer><a href="#">&copy; 2017, Meritocrate </a></footer>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/meritocrate/js/style.js') }}"></script>
            <script>

                var colElt = document.getElementsByClassName('col-homepage');
                var colHeight = parseFloat(getComputedStyle(colElt[0]).height);
                var colWidth = parseFloat(getComputedStyle(colElt[0]).width);
                colElt[0].style.top = (window.innerHeight - colHeight) / 3 + 'px';
                colElt[0].style.left = (window.innerWidth - colWidth) / 2 + 'px';

            </script>
        {% endblock %}

    </body>
    {% endif %}
{% endblock %}

