{% extends 'base.html.twig' %}

{% block body %}
{% if app.request.get('_route') == "meritocrate_homepage" %}
<body id="body-homepage">
    {% block content %}
    <div class="container">
        <div class="row">
            <h2>Meritocrate</h2>
            <div class="col s12 col-homepage">
                <a href="{{ path('meritocrate_admin') }}"><button class="btn btn-large waves-effect waves-light">
                    Sign in
                </button></a>
                <a href="{{ path('meritocrate_register') }}"><button class="btn btn-large waves-effect waves-light">
                    Sign up
                </button></a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
{% endif %}
{% endblock %}