{% extends 'base.html.twig' %}

{% block content %}
{#
<div id="connected">
    <b>People online</b>
    {% for user in discussion.users %}
        <p><a href="{{ path('meritocrate_private_livechat', {id : user.id } ) }}">{{ user.username }}</a></p>
    {% endfor %}
</div>
#}
<div class="container container-custom">
    <div class="row row-custom">

    </div>
</div>
{% endblock %}