{% extends 'base.html.twig' %}

{% block content %}
<div class="container container-settings-page">
    <div class="row">
        <a class="btn waves-light waves-effect">
            My profile
            <i class="material-icons left">account_box</i>
        </a>
        <a class="btn waves-light waves-effect">
            My profile
            <i class="material-icons left">account_box</i>
        </a>
        <a class="btn waves-light waves-effect">
            My discussion group
            <i class="material-icons left">group_work</i>
        </a>
    </div>
</div>
{% endblock %}