/*

I. BODY
II. NAVBAR
III.

*/

/* Homepage */

#body-homepage{
    background: url('../../../images/conference-room.jpg') fixed no-repeat center;
    background-size: cover;
}

#body-homepage h2{
    background: rgba(0,0,0,.7);
    font-size: 4em;
    color: #fff;
    margin: 0;
    padding: 0;
}

footer{
    height: 7vh;
    line-height: 7vh;
    width: 100%;
    background: black;
    text-align: center;
    margin-top: 0;
}

footer a{
    color: white;
}

#new-picture{
    margin: 10px 0 10px 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #fcfcfc;
    padding: 0;
    margin: 0;
}

#sup768{
    display: flex;
    align-items: center;
    background: black;
    z-index: 1;
    position: fixed;
    top: 0;
    height: 10vh;
    margin: 0;
}

#sup768List{
    position: relative;
}

#speak,
#processing{
    position: absolute;
    right: 5px;
}

.container-custom{
    min-height: 63vh;
    padding: 0;
}

.row-custom{
    margin: 0;
}

@media all and (max-width: 768px){
    button{
        width: 100%;
        margin: 15px 0 15px 0;
    }

    .material-custom{
        display: none;
    }
}

.col-homepage{
    text-align: center;
    position: absolute;
    background: rgba(255,255,255, .6);
    height: 100px;
    line-height: 100px;
}

@media all and (max-width: 768px){
    .col-homepage{
        background: none;
    }
}

.col-board{
    margin-top: 50px;
    text-align: center;
}

h2{
    display: flex;
    justify-content: center;
    height: 20vh;
    line-height: 20vh;
    color: #fff;
    background: #26a69a;
    margin-top: 10vh;
    font-size: 4em;
}

@media all and (max-width: 768px){
    h2{
        font-size: 2.5em;
        height: 15vh;
        line-height: 15vh;
    }

    h4{
        font-size: 2em;
    }
}

/* Specific discussion group table */

.table-custom{
    border: 1px solid #d8d8d8;
}

td{
    text-align: center;
    width: 25%;
    border-bottom: 1px solid #d8d8d8;
}

@media all and (max-width: 768px){
    td button{
        font-size: .9em;
        width: 100%;
    }
}

td:nth-of-type(3) img{
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:80px;
    height:80px;
    box-shadow: 1px 1px 3px black;
}

.merits{
    background: none;
    border: none;
    cursor: pointer;
}

#group-date-creation{
    font-size: 1.2em;
}

#processing{
    display: none;
}

/* Form discussion creation */

.hide-field{
    display: none;
}

/* Form discussion update*/

h4{
    margin-bottom: 10px;
}

.id-discussion{
    display: none;
}

.nav-icons{
    width: 100%;
}

/* login page */
.submit{
    margin-top: 50px;
}

/* Edit Profile page */
.avatar img{
    width: 20%;
}

/* results page */
#podium p{
    text-align: center;
}

#podium img{
    width: 20px;
}

#2and3{
    display: flex;
    justify-content: center;
    background: red;
}



