/*

I. BODY
II. NAVBAR
III.

*/

#body-homepage{
    background: url('../images/homepage-background.jpg') fixed no-repeat center;
    background-size: cover;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #fcfcfc;
}

.nav-custom{
    background: black;
}

.container-statistics-page,
.container-settings-page{
    margin-top: 50px;
}

@media all and (max-width: 768px){
    .container-custom {
        width: 100%;
    }

    button{
        width: 100%;
    }
}

.col-homepage{
    margin-top: 50px;
}

.col-board{
    margin-top: 50px;
    text-align: center;
}

h2{
    display: flex;
    justify-content: center;
    color: #fff;
    background: #26a69a;
    padding: 20px;
    box-shadow: 0 1px 5px black;
}

/* Specific discussion group table */

td{
    text-align: center;
    width: 25%;
}

td:nth-of-type(3) img{
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:80px;
    height:80px;
    box-shadow: 1px 1px 3px black;
}

.merits{
    background: none;
    border: none;
    cursor: pointer;
}

#group-date-creation{
    font-size: 1.2em;
}

#processing{
    display: none;
}

/* Formulaire discussion update*/
.id-discussion{
    display: none;
}

.update-success{
    color: green;
    font-size: 1.5em;
    display: none;
}